{% extends 'base.html.twig' %}

{% block title %}Edit Aventura{% endblock %}

{% block body %}
    <h1>Edit Aventura</h1>

    {{ include('aventura/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_aventura_index') }}">back to list</a>

    {{ include('aventura/_delete_form.html.twig') }}
{% endblock %}
